body {
	background: #181e6b;
	overflow: hidden;
}
.boxes {
  height: 150px;
  width: 150px;
  /*border: 1px solid #fff;*/
  float: left;
  text-align: center;
  font-size: 110px;
  color: #fff;
}
.boxes:hover, button:hover {
	cursor: pointer;
	background-color: #444a98;
	color:#fff;
}
.grid {
  width: 500px;
  margin: 0 auto;
  margin-top: 70px;
}
#box-0, #box-1, #box-3, #box-4, #box-6, #box-7 {
	border-right:10px solid #fff;
}

#box-0, #box-1, #box-2, #box-3, #box-4, #box-5 {
	border-bottom:10px solid #fff;
}
.playerSidebar {
	position: absolute;
	left: 0;
	width: 250px;
	height: 100%;
	text-align: center;
	font-size: 50px;
	color: #fff;
}
button {
  font-size: 25px;
  margin-top: 25px;
  border: 2px solid #fff;
  color: #181e6b;
  background: #FFF;
  border-radius: 10px;
}